<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192303936347-7bmep10g3bo7m72i153r21e9s4jqch9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192303936347-7bmep10g3bo7m72i153r21e9s4jqch9l</string>
	<key>API_KEY</key>
	<string>AIzaSyABI-LaBK8zDV775C2N1u3g7sCZFxHW1c8</string>
	<key>GCM_SENDER_ID</key>
	<string>192303936347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asia.dietz.medgraph</string>
	<key>PROJECT_ID</key>
	<string>dietz-healthcare-8c984</string>
	<key>STORAGE_BUCKET</key>
	<string>dietz-healthcare-8c984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192303936347:ios:d8a62f219234de2874207e</string>
</dict>
</plist>